<table class="table table-striped">
  <thead>
   <tr>
     <th scope="col">#</th>
     <th scope="col">Nombre</th>
     <th scope="col">Apellidos</th>
     <th scope="col">Edad</th>
     <th scope="col">Fecha de Nacimiento</th>
   </tr>
  </thead>
  <tbody *ngIf="clients">
    <tr *ngFor="let client of clients; index as i">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ client.id }}</td>
      <td>{{ client.nombre }}</td>
      <td>{{ client.apellidos }}</td>
      <td>{{ client.edad }}</td>
      <td>{{ client.fecha_nacimiento }}</td>
      <td>
        <i class="bi bi-pencil-square" style="color: green;"></i>
      </td>
      <td>
        <i class="bi bi-trash" style="color: red;"></i>
      </td>
    </tr>
   </tbody>
</table>

hola
