<div class="table-responsive">
  <table class="table table-striped table-hover caption-top">
  <caption>Lista de clientes</caption>
  <thead class="table-light">
   <tr>
     <th scope="col">#</th>
     <th scope="col">Nombre</th>
     <th scope="col">Apellidos</th>
     <th scope="col">Edad</th>
     <th scope="col">Fecha de Nacimiento</th>
   </tr>
  </thead>
  <tbody *ngIf="clients">
    <tr *ngFor="let client of clients; index as i">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ client.nombre }}</td>
      <td>{{ client.apellido }}</td>
      <td>{{ client.edad }}</td>
      <td>{{ client.fecha_nacimiento }}</td>
    </tr>
   </tbody>
  </table>
</div>


<div class="row">
  <h3>
    Promedio de edades:
    <small class="text-muted"> {{ averageAge().toFixed(0) }}</small>
  </h3>
  <h3>
    Desviación estandar:
    <small class="text-muted"> {{ deviationStandard().toFixed(2) }}</small>
  </h3>
</div>
